body {
  font-family: Arial, Helvetica, sans-serif;
}

#main-header {
  background-color: #d1982f4f;
}

.post h2 {
  color: #d1982f4f;
}

.intro {
  font-weight: bold;
  background-color: #fff3cd; /* 薄い黄色 */
  padding: 10px;
  border-left: 5px solid #ffc107;
}

footer {
  background-color: #d1982f4f;
  text-align: center;
  padding: 10px;
  width: 100%;
  bottom: 0;
}
footer p {
  margin: 0;
  color: #111;
}
